body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #2c3e50;
  color: white;
  padding: 15px;
  text-align: center;
}

nav button {
  margin: 5px;
  padding: 8px 15px;
  border: none;
  background: #3498db;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

section {
  display: none;
  padding: 20px;
}

.active {
  display: block;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 250px;
}

button {
  padding: 8px 15px;
  background: green;
  color: white;
  border: none;
}

ul {
  margin-top: 20px;
  padding: 0;
}

li {
  background: white;
  padding: 10px;
  margin: 5px 0;
  list-style: none;
}

li button {
  background: red;
  margin-left: 10px;
}